/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/Front-end/.DS_Store
/Front-end/node_modules/
/Front-end/dist/
/Front-end/npm-debug.log
/Front-end/yarn-error.log

# Editor directories and files
/Front-end/.idea
/Front-end/*.suo
/Front-end/*.ntvs*
/Front-end/*.njsproj
/Front-end/*.sln